.problemset-content {
    margin-top: 20px;
}
.task {
    border: 1px solid #000;
    display: inline-block;
    height: 100px;
    width: 100%;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}