*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.task {
    display: flex;
}

.task-information {
    margin-top: 20px;
}
.back {
    position: absolute;
    right: 50%;
    text-decoration: none;
    color: #000;
}

.task-submition {
    border-left: 3px solid #000;
}

.task-information, .task-submition{
    width: 50%;
    height: 100vh;
}

.submition-text {
    width: 100%;
    height: 70vh;
    resize: none;
}

.task_name {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
}

.task_des {
    margin: 20px 0;
}

.taskTitle {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
